.group:after {
  content: "";
  display: block;
  clear: both; }

html, body, h1, h2, h3, div, section, article, nav, header, aside, footer, ul, li, a, figure, button, textarea, form, label {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  vertical-align: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent; }

ul {
  list-style: none; }

input, textarea {
  outline: 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

html, body {
  height: 100%; }

body {
  background-color: #E4F2F3;
  font-family: Roboto, Helvetica, sans-serif; }

.pseudo-input-wrapper {
  border-radius: 2px;
  border: solid 1px #848c8b;
  background-color: #ffffff; }
  .pseudo-input-wrapper .pseudo-input {
    padding-left: 10px;
    font-size: 16px; }
    .pseudo-input-wrapper .pseudo-input .pseudo-content-curr {
      padding-right: 3px; }
    .pseudo-input-wrapper .pseudo-input input {
      border: 0;
      outline: 0;
      font-size: 16px;
      line-height: 1.7;
      color: #153d39; }

.approval-range-wrapper {
  margin: 20px 0; }
  .approval-range-wrapper label {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #47abb4; }
  .approval-range-wrapper .slider-wrapper .slider {
    position: relative;
    display: inline-block; }
    .approval-range-wrapper .slider-wrapper .slider .slider-marker {
      border-radius: 50%;
      width: 10px;
      display: block;
      height: 10px;
      background: #31766f;
      position: absolute;
      margin-left: -4.5px;
      top: 50%;
      margin-top: -4.5px; }
    .approval-range-wrapper .slider-wrapper .slider .slider-marker.purchase-price {
      left: 30%; }
    .approval-range-wrapper .slider-wrapper .slider .slider-marker.trade-in-value {
      left: 20%; }
    .approval-range-wrapper .slider-wrapper .slider progress {
      color: #31766f;
      background: #ffffff;
      border: 1px solid #31766f;
      height: 4px;
      border-radius: 4px;
      vertical-align: middle;
      width: 165px; }
    .approval-range-wrapper .slider-wrapper .slider progress::-webkit-progress-bar {
      background: #ffffff; }
    .approval-range-wrapper .slider-wrapper .slider progress::-webkit-progress-value {
      background: #31766f; }
    .approval-range-wrapper .slider-wrapper .slider progress::-moz-progress-bar {
      background: #31766f; }

.navbar {
  background-color: #76bcc2;
  height: 64px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3); }
  .navbar .navbar-container {
    padding: 16px; }
    .navbar .navbar-container .navbar-title {
      color: #ffffff;
      font-size: 24px; }

.available-cars-page {
  margin-top: 32px;
  display: flex;
  flex-direction: row; }

.cars-options-wrapper {
  width: 262px; }
  .cars-options-wrapper .cars-options {
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.3;
    color: #848c8b; }
    .cars-options-wrapper .cars-options label {
      margin: 5px 0; }

.trade-in-value-wrapper {
  display: flex;
  flex-direction: row; }
  .trade-in-value-wrapper .pseudo-input-wrapper .pseudo-input .trade-in-input {
    width: 60%; }
  .trade-in-value-wrapper .pseudo-input-wrapper .pseudo-input .trade-in-percent {
    width: 50%; }
  .trade-in-value-wrapper .pseudo-input-wrapper:nth-child(1) {
    width: 60%;
    margin-right: 10%; }
  .trade-in-value-wrapper .pseudo-input-wrapper:nth-child(2) {
    width: 30%; }

.cars-index {
  width: 700px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .cars-index h3 {
    font-size: 38px;
    line-height: 42px;
    color: #153d39; }
  .cars-index p {
    font-size: 18px;
    color: #848c8b; }

.car-index-item {
  width: 300px;
  height: 300px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  position: relative; }
  .car-index-item label {
    font-size: 16px;
    color: #848c8b;
    line-height: 26px; }
  .car-index-item .car-index-item-name {
    float: left; }
  .car-index-item .car-index-item-price {
    float: right; }
  .car-index-item .car-index-item-img {
    width: 75%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute; }

.car-index-item:nth-child(2n) {
  margin-left: 20px; }

.car-index-item:nth-child(n+2) {
  margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
