.cars-index
{
  width: 700px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  h3
  {
    font-size: 38px;
    line-height: 42px;
    color: #153d39;
  }

  p
  {
    font-size: 18px;
    color: #848c8b;
  }
}
